[Unit]
Description=Log Monitor Scheduler
After=network.target

[Service]
Type=simple
User=ugreen
WorkingDirectory=/home/ugreen/log-analyse/backend
Environment=LOG_ANALYZER_DATA=/home/ugreen/log-analyse/database
ExecStart=/usr/bin/python3 /home/ugreen/log-analyse/backend/scheduler.py
Restart=always
RestartSec=10

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=log-monitor-scheduler

[Install]
WantedBy=multi-user.target